# Telegram
TELEGRAM_BOT_TOKEN=123456:abcdef
TELEGRAM_CHAT_ID=123456789

# Exchange targets
# Binance eklendi
EXCHANGES=bingx,bitget,kucoinfutures,binance
EXECUTION_EXCHANGE=bingx

# BingX
BINGX_API_KEY=your_api_key
BINGX_SECRET_KEY=your_secret

# Bitget
BITGET_API_KEY=your_api_key
BITGET_SECRET_KEY=your_secret
BITGET_PASSWORD=your_pass

# Kucoin
KUCOIN_API_KEY=your_api_key
KUCOIN_SECRET_KEY=your_secret
KUCOIN_PASSWORD=your_pass

# Binance
BINANCE_API_KEY=your_api_key
BINANCE_SECRET_KEY=your_secret
