EXCHANGES=bingx,bitget,binance,kucoinfutures,ascendex
SYM_SOURCE=AUTO
SYMBOLS=
EXECUTION_EXCHANGE=kucoinfutures
MODE=paper

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

BINGX_KEY=
BINGX_SECRET=

BITGET_KEY=
BITGET_SECRET=
BITGET_PASSWORD=

BINANCE_KEY=
BINANCE_SECRET=

KUCOIN_KEY=
KUCOIN_SECRET=
KUCOIN_PASSWORD=

ASCENDEX_KEY=
ASCENDEX_SECRET=
ASCENDEX_PASSWORD=
